<div class="container-fluid" style="background: #fff;">	
	<div class="container">
		<div class="row">
			<% if current_user && current_user.admin? %>
				<div class="col" >
					<%= image_tag ("add.png") ,width: "30", height: "30" %>
					<b> <%= link_to 'New Product', new_product_path(@product),class: 'btn btn-success  btn-lg' %> </b>	 
				</div>
			<%end%>
			<br>
				<% @products.each do |product| %>
					<div class="col-md-4" style="box-shadow: 8px 8px 5px #aaaaaa;"><br> 					
						<%= image_tag product.image.url(:medium),height: "200>", width: "200>"	,class: "rounded mx-auto d-block"%>	<br>						
						<b> Name :</b> <%= product.name %><br>					 
						<b> Price :</b> <%= product.price %> ₹ <br>					 
						<b> Brand :</b> <%= product.brand %><br>			
						<b> Description :</b> <%= product.description %><br>					
						<b> Offer :</b> <%= product.offer %><br><br>
							<div class="row">
								<div class="col-md-3" style="padding-bottom: 5px;"> 
									<b><%= link_to 'Show',product_path(product) ,class: 'btn btn-info  btn-lg' %> </b><br>
								</div>
								<% if current_user && current_user.admin? %>
									<div class="col-md-3" style="padding-bottom: 5px;">
										<b><%= link_to 'Edit', edit_product_path(product), class: 'btn btn-primary  btn-lg'%> </b>
									</div>
									<div class="col-md-3" style="padding-bottom: 5px;">							
										<b><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger  btn-lg	' %></b><br>
									</div>									
								<%end%>
							</div>
								<% if current_user && !current_user.admin? %>
									<%= render partial: "form_cart", locals: {product_id: product.id} %>
									<%= render partial: "form_wishlist", locals: {product_id: product.id} %>				
								<%end%>					
					</div>			   
				<%end%>
		</div>	  
	</div>
</div>   