<div class="container-fluid" style="background: grey;">
  <h1><strong>Orders</strong></h1><br>
</div>
<% if @orders.first.nil? %>
  <div class="container-fluid" style="background: #DCDCDC; text-align: center; color: #808080"> 
     <h1><strong> Orders not available</strong></h1></br>
  </div>
  
<% end %>
<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>" id="flash">
    <%= value %>
  </div>
<% end %>
<% if @orders.first.nil? %>
  <div class="container" style="width: 30%; position: center; margin-top: 200px; margin-bottom: 20px;">
    <div class=" row " style="text-align: center;">
      <%= image_tag ("original.gif"),  height: "300" ,width: "300" ,class: "img-circle", style:"box-shadow: 12px 12px 5px #D3D3D3" %>
  </div>
<% end %>
<div class="container">
  <% if !@orders.first.nil? %>
    <% @orders.each do |order|%>
      <% order_total = 0 %> 
      <div class="row">
        <% order.products.each do |product|%>
          <div class="col-md-4", style="box-shadow: 8px 8px 5px #aaaaaa;text-align: center"><br> 
          <% @current_quantity = order.quantities.find_by(product_id: product.id).quantity if !order.quantities.find_by(product_id: product.id).nil? %><br>       
            <%= image_tag product.image.url(:medium),height: "200>", width: "200>"  ,class: "rounded mx-auto d-block"%> <br> <b> Name :</b> <%= product.name %><br>               
            <b> Price :</b> <%= product.price %> ₹ <br>               
            <b> Brand :</b> <%= product.brand %><br>          
            <b> Description :</b> <%= product.description %><br>              
            <b> Offer :</b> <%= product.offer %><br>
            <b> Quantity :</b> <%= @current_quantity %><br>
            <h3><b> Product Total : <%= product.price * @current_quantity %>₹ </b><br></h3>
            <% order_total += product.price * @current_quantity%>
            <div class="row" style="margin-bottom: 5px;">
              <b><%= link_to 'Show',product_path(product),class: 'btn btn-info  ' %> </b><br>
            </div>            
          </div>
        <% end %>
        <%order.total = order_total%>
        <%order.save%>
      </div>
      <h3><b> Order <%="#{order.id}"%> Total : <%= order_total %>₹ </b><br></h3>
      <%= form_tag create_payment_method_path, id: "billing-create-payment-method" do  %>
        <%= link_to "Proceed to pay", add_payment_method_path, remote: true, class: "btn btn-primary" %>
      <% end %>
      <b><%= link_to "Cancel Order",order,method: :delete, data: { confirm: "Are you sure?"},class: 'btn btn-danger  btn-lg'%></b>
    <% end %>
  <% end %>  
</div>