<div class="container-fluid" style="width: 30%; position: center;box-shadow: 8px 8px 5px #aaaaaa; margin-top: 30px;">
  <%= form_with(model: product, local: true) do |form| %>
    <% if product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label "Product Image" %><br />
      <%= form.file_field :image %>
    </div>

    <div class="form-group">
      <h4><%= form.label :name %></h4>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <h4><%= form.label :price %></h4>
      <%= form.text_field :price,class: 'form-control' %>
    </div>

    <div class="form-group">
      <h4><%= form.label :brand %></h4>
      <%= form.text_field :brand ,class: 'form-control'%>
    </div>

    <div class="form-group">
      <h4><%= form.label :description  %></h4>
      <%= form.text_area :description,class: 'form-control' %>
    </div>

    <div class="form-group">
      <h4><%= form.label :offer %></h4>
      <%= form.text_field :offer,class: 'form-control' %>
    </div>

    <div class="actions">
      <%= form.submit 'Update', class: 'btn btn-success' %>
    </div>

  <% end %>

  <div style="margin:5px;">
    <%= link_to 'Show', @product , class: 'btn btn-info  '%> 
  <%= link_to 'Back', products_path , class: 'btn btn-primary  '%></div>
  </div>
