<div class="container-fluid" style="background: grey;">
  <h1><strong>Product Details</strong></h1><br>
</div>
<p id="notice"><%= notice %></p>
 <div class="col-md-7"><br>          
    <%= image_tag @product.image.url(:large),height: "500>", width: "500>"  ,class: "rounded mx-auto d-block"%> <br>
 </div>
 <div class="col-md-5"><br><br><br><br>    
    <b> Name :</b> <%= @product.name %><br>                   
    <b> Price :</b> <%= @product.price %> ₹ <br>                  
    <b> Brand :</b> <%= @product.brand %><br>          
    <b> Description :</b> <%= @product.description %><br>                
    <b> Offer :</b> <%= @product.offer %><br><br>   
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <b><%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-primary ' %></b> |
      <%end%>
    <%end%>
    <b><%= link_to 'Back', products_path , class: 'btn btn-primary '%></b>
</div>
