<%= form_with(model: @cart ,url: carts_path, method: "post", local: true) do |form| %>
 	<p><%= form.hidden_field :product_id, value: product_id  %></p>
	<p>
		<%= form.label :quantity %><br>
		<%= form.number_field :quantity %>
	</p><br>
	<div class="row">
		<div class="col-md-6">
			<p><%= form.submit 'Add to Cart', class: 'btn btn-success',  data: { "disable-with": "Added" }%></p>
		</div>
	</div>
<% end %>
		
	